*{
    margin:0;
    padding:0;
}

body{
    height: 100vh;
    background-image: linear-gradient(#faf9fc,#9f85f5);
    box-sizing: border-box;
}

@import '~@fortawesome/fontawesome-free/css/all.css';
